body {
    background-color: #fff8ff;
}

.navbar {
    font-size: 1em;
    margin-bottom: 0px;
    background: transparent;
}


a {
    color: #884b9b;
}

a:hover {
    color: #884b9b;
}

.navbar.nav li a:hover {
    background-color: transparent;
}

.herobg {
    height: 662px;
    background: url("images/head.jpg") no-repeat center center;
    max-width: 1412px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top: 0;
}

.h1 {
    float: left;
    font-family: 'Lora';
    font-size: 5em;
    color: #884b9b;
}


.get-to-know {
    text-align: right;
    background-image: url(images/gettoknow.jpg);
    padding-top: 80px;  
}

.btn-about {
    border: none;
    color:white;
    background-color: #e88d32;
    float: right;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.handmadetext{
    padding-bottom: 30px;
}

.cardsselection{
    text-align: center;
    padding-top: 30px;
}

.cardstext{
    padding-top: 20px;
    padding-bottom:30px;
}
.btn-shopnow {
      border: none;
    color:white;
    background-color: #e88d32;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;  
}

